body {    
    font-family: 'Arial', sans-serif;    
}

.contenedor-principal {
    background-color: #faf6f6;
    border-radius: 10px;
    box-shadow: 0 0 120px rgba(2, 35, 66, 1);
    margin: 0 auto;
    margin-top: 8%;
    max-width: 500px;
    padding: 20px;
    width: 100%;
}

form {
    margin: 0 auto;
    max-width: 300px;
}

.titulo-login {
    font-size: 30px;    
    text-align: center;
    font-weight: bold;
}

.nota-login {
    font-size: 15px;
    text-align: center;
    margin-bottom: 2em;
    color: gray;
}

.btn-container {
    text-align: center;
}

.btn-ingresar {
    background-color: rgba(2, 35, 66, 1);
    border: none;
}

#imgLogo{
    width: 250px;
    height: auto;
}
/*animaciones*/
form p {
    animation-duration: 1s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 10%;
      width: 300%;
      color: transparent;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }